/* block exclusive - extract from global.css line 882 - used in chapter 4 -  */


div.exclusive h4 a { color: white }
div.exclusive li { margin-top: 0 }
div.exclusive, div.exclusive a { color: white }
div.exclusive .block_content {
	background: #bdc2c9 url('../img/block_exclusive_bg.jpg') repeat-x bottom left;
	border-left: 1px solid #595a5e;
	border-right: 1px solid #595a5e
}