
div.block h4 { 
	text-transform: uppercase; 
	font-family: Helvetica, Sans-Serif; 
	font-weight: bold; 
	font-size: 1.2em; 
	padding-left: 0.5em;  
	border-top: 1px solid green;
	border-right: 1px solid blue;
	border-left: 1px solid red;
	border-bottom: 1px solid black;
	padding-top: 2px; 
	line-height: 1.3em; 
	color: #374853; 
	height: 19px; 
	background: transparent url('../img/block_header.gif') no-repeat
	top left
}