body { 
background-color: white; 
background-image: url('../img/mylargeimage.jpg');
background-repeat: no-repeat;
font-size: 11px; 
font-family: Verdana, Arial, Helvetica, Sans-Serif; 
color: #5d717e; 
text-align:center
}